
body{
    padding: 0;
    margin: 3rem 0 0 0;
    background-color: darkslategrey;
    color:coral;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-transform: uppercase;
    margin: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 6rem;
    font-weight: 400;
    color: beige;
    line-height: 1;
}
h2{
    margin: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;

}
h3{
    margin: 3rem 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
}
a{
    margin: 1rem;
    color:coral;
    font-weight: 700;
}
p, li{
    color: beige;
}


a:visited{
    color:coral;
}
a:hover{
    color: darkkhaki;
}
.overview-recipes li:hover{
    margin-top: -0.8rem;
    margin-bottom: 0.8rem;
    
}
.overview-recipes li:hover img{
    filter:brightness(130%);
    
}
p{
    margin: 1rem;
}
img{
    width: 100%;
    height: auto;
}
.overview-recipes{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin: 0;
    gap: 1rem;

}
.overview-recipes a{
    margin: 0;
}
.overview-recipes ul {
    margin: 0;
    padding: 0;
}
.overview-recipes li{
    list-style: none;
    flex: 1;
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-out 0s;
}
.overview-recipes li img{
    width: 100%;
    height: auto;
    transition: all 0.2s ease-out 0s;
}
.overview-recipes li h3, .overview-recipes li p{
    margin: 1rem 0;
    padding: 0;
}


.overview-recipes:hover img{
    filter: blur(2px) grayscale(70%);
}
.intro{
    font-size: 2.5rem;
}

@media (max-width: 600px) {
    .overview-recipes{
        flex-direction: column;
    }
    h1{
    font-size: 3rem;
}
h2{
    font-size: 1.7rem;
}
h3{
    font-size: 1.4rem;
}
.intro{
    font-size: 2rem;
}
}
footer{
    margin-top: 7rem;
    background-color: #1D2C2C;
    color: #93B8BA;
    padding: 2rem 2rem 8rem 2rem;
}